.review {
  padding-bottom: 70px;
}
.review__title {
  font-family: MuseoSansCyrl-700, AdobeInvisFont, MyriadPro-Regular, sans-serif;
  font-size: 30px;
  color: #0d0d0d;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 70px;
}
.review__comment {
  display: flex;
  margin-bottom: 100px;
}
.review__comment:last-child {
  margin-bottom: 0;
}
.review__user-logo {
  width: 170px;
  height: 170px;
  object-fit: none;
  border-radius: 50%;
}
.review__maincomm {
  margin-left: 60px;
  margin-right: 25px;
}
.review__name {
  font-size: 18px;
  color: #0d0d0d;
  font-family: MuseoSansCyrl-700, AdobeInvisFont, MyriadPro-Regular, sans-serif;
  margin-bottom: 6px;
}
.review__marathon {
  font-size: 14px;
  color: #646464;
  font-family: MuseoSansCyrl-700, AdobeInvisFont, MyriadPro-Regular, sans-serif;
  margin-bottom: 15px;
}
.review__text {
  font-family: MuseoSansCyrl-700, AdobeInvisFont, MyriadPro-Regular, sans-serif;
  font-size: 16px;
  color: #0d0d0d;
  line-height: 19px;
}