.main {
  background: url("../images/img/bg1@1X.png") no-repeat;
  background-size: cover;
  padding: 177px 0 50px 0;
  text-align: end;
}
.main__title {
  font-size: 42px;
  color: #fff;
  font-family: AdobeInvisFont, MyriadPro-Regular, sans-serif;
  font-weight: normal;
  font-style: normal;
}
.main__subtitle {
  color: white;
  font-family: MuseoSansCyrl-700, AdobeInvisFont, MyriadPro-Regular, sans-serif;
  font-size: 42px;
}
.main__menu {
  display: flex;
  margin-top: 65px;
  justify-content: flex-end;
  text-align: right;
  margin-bottom: 67px;
}
.main__pic {
  margin-right: 3%;
  text-align: center;
}
.main__pic:last-child {
  margin-right: 0;
}
.main__img {
  margin-bottom: 15px;
}
.main__img-text {
  color: white;
  font-family: MuseoSansCyrl-500, AdobeInvisFont, MyriadPro-Regular, sans-serif;
  font-size: 14px;
}
.main__text {
  display: flex;
  justify-content: flex-end;
}
.main__txt {
  margin-right: 6px;
  color: white;
  font-family: MuseoSansCyrl-500, AdobeInvisFont, MyriadPro-Regular, sans-serif;
  font-size: 16px;
}
.main__btn {
  padding: 10px 25px;
  margin-bottom: 20px;
  color: white;
  font-family: MuseoSansCyrl-500, AdobeInvisFont, MyriadPro-Regular, sans-serif;
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #c70101;
}
.main__btn:hover {
  background-color: #e63636;
}
.main__link {
  color: white;
  font-family: MuseoSansCyrl-500, AdobeInvisFont, MyriadPro-Regular, sans-serif;
  font-size: 16px;
}
.main__link:hover {
  color: blue;
}